main {
    background-color: aliceblue;
    margin: 30px 30px;
}

img {
    height: auto;
    width: auto;
    margin-top: 50px;
}

h1 {
    margin: 0px;
    font-family: sans-serif;
    font-size: 3.5rem;
    line-height: 4.6rem;
    text-align: center;
}

.logo {
    padding-top: 10px;
    margin: 70px;
    margin-bottom: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

span,
p {
    margin: 0px;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.3rem;
    line-height: 2.6rem;
    font-weight: 400;
}

button {
    margin-top: 0px;
    padding: 0px 50px;
    background-color: #065fd4;
    color: white;
    font-size: 18px;
    line-height: 48px;
    cursor: pointer;
    border: 1px solid #065fd4;
    ;
    border-radius: 30px;
}

button:hover {
    background-color: #0754b9;
}

a {
    text-decoration: none;
    color: #0754b9;
}

.infobutton {
    text-align: center;
    margin: auto;
    display: block;
    font-size: 0.8rem;
    color: rgb(100, 98, 98);
}

.reffrallink {
    display: inlinblock;
    cursor: pointer;
    line-height: 0px;
}